Repository ddev/ddev-intellij-plugin, pull requests merged in 2023-10, with the labels that each got.

#238 refactor(settings): Use isEmpty instead of equals("")
  src/main/java/de/php_perfect/intellij/ddev/settings/DdevSettingsConfigurable.java
Labels: enhancement, java

#239 refactor(cmd): Call nonModal() instead of NON_MODAL constant
  src/main/java/de/php_perfect/intellij/ddev/cmd/RunnerImpl.java
Labels: java

#241 refactor(icons): Use the ClassLoader overload of getIcon
  src/main/java/de/php_perfect/intellij/ddev/icons/DdevIntegrationIcons.java
Labels: java

#243 Add support for mailpit service
  src/main/java/de/php_perfect/intellij/ddev/cmd/Description.java
  src/main/java/de/php_perfect/intellij/ddev/serviceActions/ServiceActionManagerImpl.java
  src/main/resources/messages/DdevIntegrationBundle.properties
  src/test/java/de/php_perfect/intellij/ddev/cmd/DdevImplTest.java
  src/test/java/de/php_perfect/intellij/ddev/serviceActions/ServiceActionManagerImplTest.java
  src/test/java/de/php_perfect/intellij/ddev/state/DdevStateManagerTest.java
Labels: enhancement
